body {
  margin: 0;
  background-color: #e3cfb4;
  color: #dca79f8e;
  font-family:
    Inter,
    system-ui,
    sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}