@import "tailwindcss";

body {
    margin: 0;
    background-color: #f2ecf3;
    color: #232222d2;
    font-family:
    Inter,
    system-ui,
    sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}